/* Full page setup */
*{
  margin: 0;
  padding: 0;
}


body {               /* Full viewport height */
  margin: auto;
  display: flex;                   /* Flexbox for centering */
  justify-content: center;         /* Center horizontally */
  align-items: center;             /* Center vertically */
  background-color: #f2f2f2;       /* Light grey background */
  font-family: 'Georgia', serif;
}

/* Paper container */
.paper {
  width: 1240px;
  height: 1754px;
  background: white;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  padding: 60px;
  box-sizing: border-box;
}

#school-name{
  padding: 20px 20px;
  width: 650px;
  font-size: 50px;
  border: none;
  outline: none;
  text-align: center;
  margin-left: 200px;
}

#examination-year, .e-y{
  outline: none;
  margin-left: 200px;
}
.s-label h1 {
  font-size: 22px;
  margin: 0;
}

#subject {
  font-size: 22px;
  border: none;
 /* optional underline look */
  outline: none;
  margin: -20px 0;
}

input{
  border: none;
}

#subject h3{
  margin-left: -1050px;
}

@page {
  size: A4;        /* Auto sets 210mm × 297mm */
  margin: 0;
}

@media print {
  body {
    margin: 0;
  }

  .paper {
    width: 210mm;   /* or use mm instead of px */
    height: 297mm;
    box-shadow: none;
  }
}
