@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  min-height: 100vh;
  background: url('../images/bg3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Removed ::before overlay completely */

.greeting {
  font-size: 130px;
  color: rgb(180, 170, 21);
}

.container {
  height: 300px;
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
}

input,
button {
  margin: 0 500px;
  padding: 10px;
  margin-top: 10px;
}

input {
  outline: none;
  border-radius: 10px;
  border: 1px solid black;
}

.login-head, .signup-head{
  font-size: 50px;
}

form button {
  color: black;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  transition: 0.6s;
}

form button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.6s;
}

footer {
  margin-top: 50px;
}
